@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  /* background-color: #61cc9c; */
  background-color: #33c2cc;
  color: black;
}

body {
  color: #fffffff2;
  /* background-color: #0f2018; */
  background: #030412;

}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bubbleUp {
  0% {
    translate: 0;
  }
  50% {
    translate: 100px;
  }
  100% {
    translate: 0;
    z-index: 2;
  }
}

@keyframes return {
  0% {
    translate: 0;
    z-index: 2;
  }
  50% {
    translate: 100px;
  }
  100% {
    translate: 0;
    z-index: 0;
  }
}

.details-card:hover {
  animation: bubbleUp 0.4s ease forwards;
}

.details-card.return {
  animation: return 0.4s ease forwards;
}

/* Contact Section*/
.field-label {
  @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
}

.field-input {
  @apply w-full px-3 py-2 mt-2 text-sm transition duration-200 border rounded-md min-h-10 bg-white/10 placeholder-neutral-500 border-white/10;
}

.field-input-focus {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white/20;
}
